@import './base.css';

#app {
  max-width: 1280px;
  max-height: 720px;
  aspect-ratio: 16/9;
  object-fit: contain;
  height: 100lvh;
  width: 100lvh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a {
    padding: 2px;
    transition: .2s;
  }
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    border-radius: 5px;
  }
}
